body{
    margin: 0;
    padding: 0;
    background-color: red;
 
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.todo{
    display: flex;
}


h1{
    display: flex;
    background-color: aliceblue;

}
.writeWhatToDo {
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}

/* button{
    
} */